body {
    font-family: Roboto, sans-serif;
    overflow-x: auto;
    /* background-color: #757677; */
    /* background-image: url(images/fundo.jpeg); */
}
.navbar {
    background-color: #d35400;
    font-weight: bolder;
    /* margin-top: 2; */
}
#faleconosco{
    margin-left: 20px;
    background-color: #000;
}
#assist {
    padding-top: 50px;
    background-size: cover;
    background-image: url(./images/fundo.jpg);
}
#assist h2 {
    color: white;
}
.sobrenos {
    color: white;
}
.material {
    background-size: cover;
    background-image: url(./images/fundo.jpg);
}
.material h2 {
    color: rgba(255, 255, 255, 0.966);
}
#painel {
    background-image: url(images/fundo2.jpg);
    color: black;
    padding: 20px;
    background-color: white;
}
#painel-txt {
    color: black;
}
#note {
    align-items: center;
}
#container {
    display: none;
}
#sobrenos {
    background-image: url(./images/fundo.jpg);
    color: white;
}
.sobrenos {
    padding: 5px;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    background-color: black;
}
.colored{
    color: #ffffff;
}
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: black;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}
.container-carousel {
    width: 50%;
}
.carousel-1 img{
    max-width: 421px;
    max-height: 230px;
}
#eventos {
    background-size: cover;
    background-image: url(images/fundo2.jpg);
}
#container {
    padding: 0;
}
#conteudo {
    width: 50%;
    display: flex;
}
#logo img {
    border: 5px solid #000;
    height: 200px;
    width: auto;
}
.col-md-4 {
    margin-left: 33%;
}
.navbar-toggler {
    background-color: #ffffff;
}
.section-title {
    color: #ffffff;
    font-family: roboto, sans-serif;
    /* font-family: pacifico, cursive; */
}
.section-title h2 {
    color: black;
}
#sobrenos, .section-title, h2{
    color: rgb(0, 0, 0);
}
#quem-somos h2 {
    color: white;
}
#note .section-title h2 {
    color: rgb(255, 255, 255);
}

#sobre-o-restaurante, #cardapio {
    background-color:#757677 ;
}
#text-colored {
    text-shadow: 5px 5px 2px black;
}
.text-colored {
    /* text-shadow: 5px 5px 2px black; */
    right: 50%;
    color: #ffffff;
    /* margin-right: 3.0em; */
}
.text-colored2 {
    /* height: 100%; */
    text-align: center;
    background-size: cover;
    /* background-image: url(./images/fundo2.jpg); */
    color: rgb(0, 0, 0);
}
.text-colored3 {
    color: #ffffff;
}
.nav-cardapio .nav-link,
#fale-conosco button {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    color: black;
}

.nav-cardapio .nav-link:hover {
    color: #fff;
    background-color: #d35400;
}
.social-links li {
    list-style: none;
    display: inline;
}

#quem-somos {
    flex: 0 0 auto;
    background-size: cover;
    background-image: url(./images/fundo.jpg);
    color: white;
}
.social-links a {
    text-decoration: none;
}
#text-form {
    color: black;
    
}
.textolimp {
    text-align: center;
    align-items: center;
    position: sticky;
    padding: 2px;
    margin-top: 0;
    margin: 2px;
    background-color: black;
    color: white;
}
.textolimp a {
    text-decoration: none;
    color: inherit;
    /* text-transform: none; */
    /* color: #fff; */
}

#lista1 {
    width: 1200px;
    max-width: 108%;
}
.textolimp:hover {
    color: black;
    background-color: #d35400;
}
footer {
    list-style: none;
    padding-top: 10px;
    background-color: #d35400;
    color: white;
}

#listimg {
    align-items: center;
    /* padding: 0; */
    width: 24%;
    /* margin: 10px; */
    /* box-shadow: inset 3px 3px 9px #000000; */
    text-align: center;
    border-radius: 5px;
    /* background-size: cover; */
    /* background-image: url(images/fundo2.jpg); */
}
#lista22 img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

/* mobile: */

@media (max-width: 767px) {
    .textolimp {
        border-radius: 5px;
        margin-left: 8px;
        margin-top: 20px;
    }
    #lista22 .textolimp {
        font-size: 10px;
        margin: 8px ;
    }
    #lista22 {
        border-radius: 5px;
        /* width: 50%; */
    }
    #lista22 img {
        width: 200px;
        height: 200px;
        margin: 5px;
        /* max-height: 50px; */
        /* max-width: 200px; */
        border-radius: 4px;
    }
    body {
        overflow-x: auto;
    }
    #lista1 {
        max-width: 120%;
    }
    #painel {
        overflow-x: auto;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #listimg {
        /* align-items: center; */
        /* box-shadow: inset 3px 3px 9px #000000; */
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        /* margin: 0px; */
        /* background-size: cover; */
        /* background-image: url(images/fundo2.jpg); */
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
    .carousel-item img {
        height: 250px;
    }
}